<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.front_end.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.front_end.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.front_end.app.modules.neww.ui.NewwActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.bmicalc.ui.BmiCaLcActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.work.ui.WorkActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.excer.ui.ExcerActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.breakfast.ui.BreakfastActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.old.ui.OldActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.front_end.app.modules.welcomescreen.ui.WelcomeScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.front_end.app.modules.signupu.ui.SignUpuActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.homemacros.ui.HomeMacrosActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.tall.ui.TallActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.target.ui.TargetActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.dinner.ui.DinnerActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.signupm.ui.SignUpmActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.age.ui.AgeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.homebmi.ui.HomeBmiActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.homediet.ui.HomeDietActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.weight.ui.WeightActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.newtwo.ui.NewtwoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.signup.ui.SignUpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.water.ui.WaterActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.homejournal.ui.HomeJournalActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.details.ui.DetailsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.notes.ui.NotesActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.homework.ui.HomeWorkActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.home.ui.HomeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.diet.ui.DietActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.login.ui.LoginActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.macrosone.ui.MacrosoneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.lunch.ui.LunchActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.setting.ui.SettingActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.loadingpage.ui.LoadingPageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.newwork.ui.NewworkActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.macrostwo.ui.MacrostwoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.front_end.app.modules.snacks.ui.SnacksActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
